.sidebar {
    background-color: #091241;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
.sidebar-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
  margin-top: 3rem;
}

.nav-logo {
    width: 100px;
    margin-top: 2rem;
}

.nav-items {
    margin-top: 3rem;
}

.nav-items a {
    margin-bottom: 4rem;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.25rem;
    position: relative;
    padding-left: 0.75rem;

    transition: color 0.3s ease;
}

.nav-items a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 0;
    background-color: #ffffff; /* The color of the hover highlight */
    transition: height 0.3s ease;
}

.nav-items a:hover {
    color: #ffffff; /* Change text color on hover */
}

.nav-items a:hover::before {
    height: 100%; /* Animate the height to full on hover */
}