.login-container {
  background-color: #0F1845;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;       
  box-sizing: border-box;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  line-height: 1.6;
  margin: auto;
  width: 100%;

}



.a-logo img{
  height: 100px;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
}

p {
  font-size: 0.9rem;
  margin: 1rem 0;
}

a {
  color: #1983FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  text-align: left;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  color: #CBD5E1;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.login-btn {
  width: 100%;
  max-width: 400px;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #1983FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: white;
  color: #1983FF;
}

.p-login {
  color: #CBD5E1;
  margin-bottom: 1rem;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 0.8rem;
  font-size: 1rem;
  color: rgb(64, 64, 64);
  background-color: white;
  border-radius: 5px;

}